<!-- <p>registration-form works!</p> -->
<div class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <!-- image -->
    <div class="col-md-6 order-md-2">
      <img src="../assets/images/green.png" alt="Image" class="img-fluid newImage">
    </div>

    <!-- text area -->
    <div class="col-md-6 contents">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="mb-4">
            <h2 class="text-center text-success">Registration</h2>
            <p class="opacity-75 text-center">The objective of <strong class="text-success">Green House Media</strong>
              is to
              collect content and make it available to
              the news organizations such as newspaper, radio, television and digital media.</p>
          </div>

          <!-- login form -->
          <form [formGroup]="registration" (ngSubmit)="onSubmit(registration.value)">
            <!-- name -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control  shadow-sm bg-body rounded" id="floatingInput"
                placeholder="First name" formControlName="name">
              <label for="floatingInput">First name</label>
              <div class="error" *ngIf="(registration.get('name')?.invalid && submitted) || (registration.get('name')?.touched &&
                userSubmitted)">
                <small class="text-danger" *ngIf="registration.get('name')?.errors?.['required'] ">
                  First name required
                </small>
              </div>
            </div>

            <!-- surname -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control  shadow-sm bg-body rounded" id="floatingInput"
                placeholder="First name" formControlName="surname">
              <label for="floatingInput">Surname</label>
              <div class="error"
                *ngIf="(registration.get('surname')?.invalid && submitted) || (registration.get('surname')?.touched && userSubmitted)">
                <small class="text-danger" *ngIf="registration.get('surname')?.errors?.['required'] ">
                  Surname required
                </small>
              </div>
            </div>

            <!-- email -->
            <div class="form-floating mb-3">
              <input type="email" class="form-control  shadow-sm bg-body rounded" id="floatingInput"
                placeholder="Email Address" formControlName="email">
              <label for="floatingInput">Email address</label>
              <div class="error"
                *ngIf="(registration.get('email')?.invalid && submitted) || (registration.get('email')?.touched && userSubmitted)">
                <small class="text-danger" *ngIf="registration.get('email')?.errors?.['required'] ">
                  Email required
                </small>
                <small class="text-danger" *ngIf="registration.get('email')?.errors?.['pattern']">
                  Email address is invalid
                </small>
              </div>
            </div>

            <!-- password -->
            <div class="form-floating mb-3">
              <input type="password" class="form-control shadow-sm bg-body rounded" id="floatingPassword"
                placeholder="Password" formControlName="password" #pw>
              <label for="floatingPassword">Password</label>
              <div class="error"
                *ngIf="(registration.get('password')?.invalid && submitted) || registration.get('password')?.touched && userSubmitted">
                <small class="text-danger" *ngIf="registration.get('password')?.errors?.['required'] ">
                  Password required
                </small>
                <small class="text-danger" *ngIf="registration.get('password')?.errors?.['minlength']">
                  Characters must be more than 8
                </small>
              </div>
            </div>

            <!--confirm password -->
            <!-- <div class="form-floating mb-3">
              <input type="password" class="form-control shadow-sm bg-body rounded" id="floatingPassword"
                placeholder="Confirm Password" formControlName="confirmPassword">
              <label for="floatingPassword">Confirm Password</label>
              <div class="error" *ngIf="(registration.get('confirmPassword')?.invalid && submitted) ||
                registration.get('confirmPassword')?.touched">
                <small class="text-danger" *ngIf="registration.get('confirmPassword')?.errors?.['required'] ">
                  Password required
                </small>

                <small *ngIf="(registration.get('confirmPassword')?.value)">

                </small>
              </div>
            </div> -->

            <!-- phone number -->
            <!-- <div class="form-floating mb-2">
              <input type="number" class="form-control shadow-sm bg-body rounded" id="floatingPassword"
                placeholder="phone" formControlName="phone">
              <label for="floatingPassword">Phone number</label>
              <div class="error" *ngIf="(registration.get('phone')?.invalid && submitted) ||
                registration.get('phone')?.touched">
                <small class="text-danger" *ngIf="registration.get('phone')?.errors?.['required'] ">
                  Phone number required
                </small>
                <small class="text-danger" *ngIf="registration.get('phone')?.errors?.['minlength']">
                  Must be 10 digits
                </small>
              </div>
            </div> -->
            <button class="btn btn-success p-2 w-100" type="submit">Register</button>
          </form>
          <div class="register mt-1 text-center">
            <p>Already have an account?<a [routerLink]="['/']" routerLinkActive="router-link-active"
                class="text-decoration-none text-success ">signUp</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
