.newImage:hover{
  transform: scale(1.2);
}

.newImage{
    transition: transform .2s;

}

h3,h2,p,h4{
  font-family: 'Quicksand', sans-serif;
}

.togglePassword{
  margin-top: -47px;
  padding: 10px;
}
