<div class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <!-- nav -->
    <!-- <nav class="container">
      <img src="../assets/images/media house.png" alt="image" width="100" height="100">
    </nav> -->
    <!-- image -->
    <div class="col-md-6 order-md-2">
      <img src="../assets/images/green.png" alt="Image" class="img-fluid">
    </div>

    <!-- text area -->
    <div class="col-md-6 contents">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="mb-4">
            <h4 class="text-success">Welcome Back</h4>
            <h2>Login to get started</h2>
            <p class="opacity-75">The objective of News <strong class="text-success">Green House Media</strong> is to
              collect content
              and make it
              available to
              the news organizations such as newspaper, radio, television and digital media.</p>
          </div>

          <!-- login form -->
          <form action="#" method="post">
            <div class="form-floating mb-3">
              <input type="email" class="form-control shadow-none" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control shadow-none" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-success p-2 w-100 mt-3" type="submit">Log In</button>
          </form>
          <div class="register mt-1">
            <p>Don't have an account?<a href="#" class="text-decoration-none text-success"> Register now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
