<div class="container">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <!-- image -->
    <div class="col-md-6 order-md-2">
      <img src="../assets/images/news.png" alt="Image" class="img-fluid">
    </div>
    <!-- text area -->
    <div class="col-md-6 contents">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="mb-4 text-center">
            <h4 class="text-success">Welcome Back</h4>
            <h2>Login to get started</h2>
            <p class="opacity-75">The objective of <strong class="text-success">Green House Media</strong> is to
              collect content and make it available to
              the news organizations such as newspaper, radio, television and digital media.</p>
          </div>

          <!-- login form -->
          <form [formGroup]="signUp" (ngSubmit)="onSubmit(signUp.value)">
            <!-- email -->
            <div class="form-floating mb-3">
              <input type="email" class="form-control  shadow-sm bg-body rounded" id="floatingInput"
                placeholder="Email Address" formControlName="email">
              <label for="floatingInput">Email address</label>
              <div class="error" *ngIf="(signUp.get('email')?.invalid && submitted)  || signUp.get('email')?.touched">
                <small class="text-danger" *ngIf="signUp.get('email')?.errors?.['required']">
                  Email required
                </small>
                <small class="text-danger" *ngIf="signUp.get('email')?.errors?.['pattern']">
                  Email address is invalid
                </small>
              </div>
            </div>
            <!-- password -->
            <div class="form-floating">
              <input type="password" class="form-control shadow-sm bg-body rounded" id="floatingPassword"
                placeholder="Password" formControlName="password">
              <label for="floatingPassword">Password</label>
              <button class="d-flex float-end border-0 bg-transparent" (click)="onClick()">
                <img src="../assets/images/view.png" alt="Image" class="view img-fluid" height="30" width="30"
                  *ngIf="!show">
                <img src="../assets/images/hide.png" alt="Image" class="hide img-fluid" height="30" width="30"
                  *ngIf="show">
              </button>

              <div class="error"
                *ngIf="(signUp.get('password')?.invalid && submitted) || signUp.get('password')?.touched">
                <small class="text-danger" *ngIf="signUp.get('password')?.errors?.['required'] ">
                  Password required
                </small>
                <small class="text-danger" *ngIf="signUp.get('password')?.errors?.['minlength']">
                  Characters must be more than 8
                </small>
              </div>

            </div>
            <button class="btn btn-success p-2 w-100 mt-3" type="submit">Log In</button>
            <p class="text-center my-3">or</p>
            <div>
              <img class="gmail" src="../assets/images/gmail.png" alt="photo" width="20" height="20">
              <button class="btn btn-success p-2 w-100" type="submit">Log with gmail</button>
            </div>
          </form>
          <div class="register mt-1 text-center">
            <p>Don't have an account?
              <a [routerLink]="['/signup']" routerLinkActive="router-link-active"
                class="text-decoration-none text-success"> Register now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
