.view{
  margin-top: -45px;
  padding: 5px;
  margin-right: -30px;
}

.hide{
  margin-top: -45px;
  padding: 5px;
}

.gmail{
  margin-top: -70px;
  margin-left: 10px;
}

.newImage:hover{
  transform: scale(1.1);
}

.newImage{
    transition: transform .2s;

}
