.urlToImage:hover {
  transform: scale(1.1);
}

.urlToImage {
  transition: transform 0.2s;
}

.urlToImage {
  height: 150px;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
