ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: rgb(83, 179, 227) !important;
}

a:hover{
  color: rgb(134, 132, 132) !important;
}

.logo:hover{
  transform: scale(1.2);
}

.logo{
    transition: transform .2s;

}

li{
  opacity: 75;
}

p,a{
  font-family: 'Quicksand', sans-serif;
}
