<footer class="footer-bs container mt-5">
  <hr>
  <div class="row">
    <div class="col-lg-4">
      <h5 class="fs-6 fw-bold">ABOUT</h5>
      <p class="opacity-75 footer-text">The objective of <strong class="text-success">NEWS HUB</strong> is to
        collect content and make it available to
        the news organizations such as newspaper, radio, television and digital media.</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
      <h5 class="fs-6 fw-bold">CATEGORIES</h5>
      <div class="">
        <ul class="pages p-0 ">
          <li><a class="nav-link" [routerLink]="['/tech']" routerLinkActive="router-link-active">Tech news</a></li>
          <li><a class="nav-link" [routerLink]="['/sports']" routerLinkActive="router-link-active">Sports news</a></li>
          <li><a class="nav-link" [routerLink]="['/business']" routerLinkActive="router-link-active">Business news</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
      <h5 class="fs-6 fw-bold">QUICK LINKS</h5>
      <div class="">
        <ul class="pages p-0">
          <li><a [routerLink]="['#']">About US</a></li>
          <li><a [routerLink]="['#']">Contact Us</a></li>
          <li><a [routerLink]="['#']">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 mb-4">
      <h5 class="fs-6 fw-bold">SUBSCRIBE TO OUR NEWSLETTER</h5>
      <p class="opacity-75">The latest news, articles, and resources, sent to your inbox weekly.</p>
      <div class=" d-flex ">
        <input type="email" class="form-control shadow-none" placeholder="Enter your email">
        <button class="btn btn-primary ms-3 btn-dark" type="button">Subscribe</button>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <p class="fw-bold">&copy; 2023 News Hub. All rights reserved.</p>
      <div class="socials">
        <a [routerLink]="['/#']"> <img src="../../../assets/images/facebook.png" alt="" class="logo" width="27"
            height="27"></a>
        <a [routerLink]="['/#']"> <img src="../../../assets/images/twitter.png" alt="" class="logo mx-2" width="30"
            height="30"></a>
        <a [routerLink]="['/#']"> <img src="../../../assets/images/instagram.png" alt="" class="logo" width="30"
            height="30"></a>
        <a [routerLink]="['/#']"> <img src="../../../assets/images/telegram.png" alt="" class="logo mx-2" width="27"
            height="27"></a>
      </div>
    </div>
  </div>
</footer>
