<footer class="footer-bs container mt-5">
  <hr>
  <div class="row">
    <div class="col-lg-6 ">
      <h4>ABOUT</h4>
      <p class="opacity-75">The objective of <strong class="text-success">NEWS HUB</strong> is to
        collect content and make it available to
        the news organizations such as newspaper, radio, television and digital media.</p>
    </div>
    <div class="col-lg-3">
      <h5>CATEGORIES</h5>
      <div class="">
        <ul class="pages p-0">
          <!-- <li class=""><a class="nav-link" [routerLink]="['/news']" routerLinkActive="router-link-active">Top
              Headlines</a></li> -->
          <li><a class="nav-link" [routerLink]="['/tech']" routerLinkActive="router-link-active">Tech news</a></li>
          <li><a class="nav-link" [routerLink]="['/sports']" routerLinkActive="router-link-active">Sports news</a></li>
          <li><a class="nav-link" [routerLink]="['/business']" routerLinkActive="router-link-active">Business news</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <h5>QUICK LINKS</h5>
      <div class="">
        <ul class="pages p-0">
          <li><a [routerLink]="['#']">About US</a></li>
          <li><a [routerLink]="['#']">Contact Us</a></li>
          <li><a [routerLink]="['#']">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <p class="">&copy; 2023 News Hub</p>
      <div class="socials">
        <a [routerLink]="['/#']"> <img src="../../../assets/images/facebook.png" alt="" class="logo" width="27"
            height="27"></a>
        <a [routerLink]="['/#']"> <img src="../../../assets/images/twitter.png" alt="" class="logo mx-2" width="30"
            height="30"></a>
        <a [routerLink]="['/#']"> <img src="../../../assets/images/instagram.png" alt="" class="logo" width="30"
            height="30"></a>
        <a [routerLink]="['/#']"> <img src="../../../assets/images/telegram.png" alt="" class="logo mx-2" width="27"
            height="27"></a>
      </div>
    </div>
  </div>
</footer>
