<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand galaxy text-success" routerLink="#">GREEN HOUSE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" id="hover-underline-animation"><a class="nav-link" routerLink="#">Tech News</a>
        </li>
        <li class="nav-item mx-4 " id="hover-underline-animation"><a class="nav-link" routerLink="#">Business News</a>
        </li>
        <li class="nav-item" id="hover-underline-animation"><a class="nav-link" routerLink="#">Political News</a></li>
      </ul>
    </div>
  </div>
</nav>
<app-top-heading></app-top-heading>
<footer>
  <p class="text-center my-4">&copy; 2023 Green House Media</p>
</footer>
