
#hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(134, 132, 132) !important;
}

#hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0px;
  background-color:rgb(134, 132, 132) !important;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

#hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: right;
  width: 100%;
}
